@media (min-width: 780px) {
  .so-widget-sow-layout-slider-default-ae668fde078c {
    min-height: 900px;
  }
}
.so-widget-sow-layout-slider-default-ae668fde078c .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
  padding: 50px 10px 50px 10px;
  max-width: 100%;
  height: 900px;
}
@media (max-width: 780px) {
  .so-widget-sow-layout-slider-default-ae668fde078c .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
    height: auto;
  }
}
.so-widget-sow-layout-slider-default-ae668fde078c .sow-slider-base .sow-slider-pagination li a {
  background: #ffffff;
}
.so-widget-sow-layout-slider-default-ae668fde078c .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-layout-slider-default-ae668fde078c .sow-slider-base .sow-slide-nav a {
  color: #ffffff;
}